$baseFontSize: 18;
$baseFontFamily: '微软雅黑','microsoft yahei','Arial';
$baseWidth: 525;
$white: #FFF;
$green: #3B9A82;
$black: #000;
$grey: #CCC;
$golden: #E9D445;
$red: #F26D6E;
$bgGrey: #EFEEEA;
$orange: #F69200;
$textGrey: #6b6b6b;
$textDrak: #404040;

$font18: 1rem;
$font24: 24 / $baseFontSize +rem;

@function toPercent($n){
  @return $n * 100%;
}