$baseFontSize: 18px;
$baseFontFamily: '微软雅黑','microsoft yahei','Arial';
$baseWidth: 525;
$white: #FFF;
$green: #3B9A82;
$black: #000;
$grey: #CCC;
$golden: #E9D445;
$bgGrey: #EFEEEA;
$orange: #F69200;
$textGrey: #6c6c6c;

$font18: 18px;
$font24: 24px;

@function toPercent($n){
  @return $n * 100%;
}