@import './base';
.mint-header {
    background-color: $green;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
}
.mint-tabbar>.mint-tab-item.is-selected {
    background: inherit;
    color: $green;
}