*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微软雅黑','microsoft yahei';
    -webkit-user-select: none;
    user-select:none;
}
html {
    width: 100%;
    height: 100%;
    font-size: 18px;
}
@media screen and (max-width: 375px) and (min-width: 320px) {
    html {
        font-size: 16px;
    }
}
@media screen and (max-width: 320px) {
    html {
        font-size: 14px;
    }
}
body{
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    user-select:none;
    background: #EFEEEA;
    color: #9f9f9f;
    font-size: 0.875rem;
}
body .main {
    height: 100%;
}
a, a:hover, a:active, a:visited{
    cursor: default;
    color: #ccc;
    text-decoration: none;
}
ul {
    list-style: none;
}
.clearfix:after, .clearfix:before{
    content: '\20';
    display: block;
    clear: both;
}
.text-white{
    color: #fff;
}
.text-black{
    color: #000;
}
.text-green {
    color: #3B9A82;
}
.text-orange{
    color: #F69200;
}
.bg-white{
    background-color: #fff;
}
.bg-black{
    background-color: #000;
}
.bg-green{
    background-color: #3B9A82;
}
.pull-left {
    float: left;
}
.pull-right{
    float: right;
}
.t-center{
    text-align: center;
}
.t_overflow {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row{
    display: block;
}
.row:after{
    content: '\20';
    clear: both;
    display: block;
}
.row .col{
    float: left;
    display: block;
    padding: 5px;
}
.row .col-1 {
    width: 8.33333%;
}
.row .col-2 {
    width: 16.66666%;
}
.row .col-2-4 {
    width: 20%;
}
.row .col-3 {
    width: 25%;
}
.row .col-4 {
    width: 33.33333%;
}
.row .col-5 {
    width: 41.66666%;
}
.row .col-6 {
    width: 50%;
}
.row .col-7 {
    width: 58.33333%;
}
.row .col-8 {
    width: 66.66666%;
}
.row .col-9 {
    width: 75%;
}
.row .col-10 {
    width: 83.33333%;
}
.row .col-11 {
    width: 91.66666%;
}
.row .col-12 {
    width: 100%;
}
.wy-btn-group {
    display: flex;
    justify-content: center;
}
.wy-btn {
    outline: none;
    cursor: pointer;
    text-align: center;
    min-width: 5.5556rem;
    height: 2.222rem;
    line-height: 2.222rem;
    border-radius: 2.222rem;
    padding: 0 10px;
    border: 1px solid #ccc;
}
.wy-btn-radius {
    border-radius: 100%;
}
.wy-btn-green {
    background: #3B9A82;
    color: #fff;
}
.wy-btn-orange {
    background: #F69200;
    color: #fff;
}
.wy-btn-white{
    background: #fff;
    color: #6b6b6b;
}