*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: '微软雅黑','microsoft yahei';
}
html {
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
body .main {
    height: 100%;
}
a, a:hover, a:active, a:visited{
    cursor: default;
    color: #ccc;
    text-decoration: none;
}
ul {
    list-style: none;
}
.view{
    position: absolute;
    width: 100%;
    top: 40px;
    height: calc(100% - 100px);
    max-height: calc(100% - 100px);
    overflow: auto;
}
.clearfix:after{
    content: '\20';
    display: block;
    clear: both;
}
.text-white{
    color: #fff;
}
.text-black{
    color: #000;
}
.text-green {
    color: #3B9A82;
}
.bg-white{
    background-color: #fff;
}
.bg-black{
    background-color: #000;
}
.bg-green{
    background-color: #3B9A82;
}
.wy-btn {
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}
.wy-btn:hover{
    box-shadow: inset 1px 1px 5px #ccc;
}
.wy-btn:active{
    box-shadow: inset 2px 2px 5px #ccc;
}
.wy-btn-radius {
    border-radius: 100%;
}